.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

header {
  background-color: #282c34;
  height: 3em;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.video-wrapper {
  display: flex;
  width: 90%;
  margin: 1em auto;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  min-height: 500px;
}

.video-wrapper div {
  width: 30%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  min-height: 30vh;
  transition: all 0.3s ease-in-out;
  transform: scale(1);
  margin-bottom: 1em;
  border:1px solid rgba(0,0,0, 0.5);
  padding: 1.5em 0 0 ;
}

.video-wrapper div:hover {
  transform: scale(1.03);
  border-color: 1px solid rgba(0,0,0, 0.9);
}

.video-wrapper div h2 {
  font-size: 1rem;
  margin-bottom: 2.5em;
}

.video-wrapper div video {
  width: 100%;
  align-self: flex-end;
  height: 100%;
}